.divCreateBook {
    display: flex;
    justify-content: flex-end;
}
.createBook {
    border-radius: 4px;
    color: #fff;
    display:block;
    width:100px;
    text-align: center;
    font-family: Microsoft Sans serif;
    font-size: 15px;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: background-color 0.1s linear;        
    background-color: #1e3340;
    border: 1px solid #1e3340;  
    outline: none;   
}
.createBook:hover {
    background-color: #2f5065;
    outline: none;
}

body {
    background-color: #d6d8ff;
    margin: 0;
}

#conteiner{
    display: flex;
    flex-wrap: wrap;

}

.div {
    display: flex;
    width: 650px;
    height: 270px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}
.divImg {
    display: flex;
    width: 35%;
    height: 100%;
}
.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 2;
}
.info {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.divPlace {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.divPlace2 {
    display: flex;
    margin-left: 4px;
}

/*.divNameAutor {
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
}*/


img {
    width: 175px;
    height: 270px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.divIcon {
    width: 6%;
    padding: 0;
    border: 0;
    height: 15px;
    background-color: white;
    outline: none;
}

.icon {
    height: 15px;
    width: 100%; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.iconChek {
    height: 20px;
    width: 20px; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.divDelOrChange {
    display: flex;
    flex-direction: row-reverse;
}

#header {
    display: flex;
    padding: 10px;
    border: 0;
    background-color:#1e3340;
    align-items: center;
}

#divNewBook {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#newBook {
    background-color: #1e3340;
    border: 0;
    width: 150px;
    height: 40px;
    font-size: 21px;
    font-family: Microsoft Sans serif;
    border-radius: 10px;
    outline: none;
    color: #ffa824;
}

#newBook:hover {
    border: 2px solid #ffa824;
}

#more {
    width: 40px;
    height: 40px;
}

#divSite-search {
    width: 50%;
    display: flex;
    height: 25px;
}
#site-search{
    background-color: #2f5065;
    border: 0;
    width: 250px;
    outline: none;
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
}

input[type="search"]::-webkit-input-placeholder {
    color: #c7c7c7;
} 
input[type="search"]::-moz-placeholder {
    color: #c7c7c7;
}

#button-search {
    margin: 0;
    padding: 0;
    background-color: #1e3340;
    border: 0;
    outline: none;
}
#loop {
    height: 20px;
    width: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
}